@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './scss/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

.white {
  color: #fff;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    background-color: $veryDarkBlue;
}
.container {
  display: flex;
  /* change to row */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid $darkBlue 1px;
  width: 100vw;
  /* maybe change width */
}

.profile-container {
  /* change width to 250px */
  width: 85vw;
  height: 200px;
  background-color:  $darkBlue;
  border-radius: 1rem;
  margin-bottom: 5px;

    .light-blue-section {
      display: flex;
      align-items: center;
      background-color: $blue;
      border-radius: 1rem;
      height: 130px;

        .left-side img {
          width: 70px;
          height: 70px;
          border: #fff 3px solid;
          border-radius: 50%;
          margin: 10px;
          margin-left: 25px;
        }
        
        .right-side {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-left: 8px;
        }
        
        .right-side p {
          font-size: 0.8rem;
          margin-bottom: 3px;
        }
        
        .right-side h2 {
          font-weight: 300;
        }
      }
      

    .left-side img {
  width: 70px;
  height: 70px;
  border: #fff 3px solid;
  border-radius: 50%;
  margin: 10px;
  margin-left: 25px;
}

.right-side {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}

.right-side p {
  font-size: 0.8rem;
  margin-bottom: 3px;
  color: $paleBlue;
}

.right-side h2 {
  font-weight: 300;
}
}


.dark-blue-section {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

  p {
    color: $paleBlue;
    cursor: pointer;
    &:hover {
      color:#fff;
      transition: 1s;
    }
  }
}

.boxes-container {
  background-color: $veryDarkBlue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-container {
  /* change width to 250px */
  width: 85vw;
  height: 150px;
  position: relative;
  margin: 5px;
  border-radius: 1rem;
  overflow: hidden;

  .box {
    width: 100%;
    background: $darkBlue;
    height: 100%;
    border-radius: 1rem;
  
      &.work {
        background-color: $lightRedWork;
      }
  
      &.play {
        background-color: $softBluePlay;
      }
  
      &.study {
        background-color: $lightRedStudy;
      }
  
      &.exercise {
        background-color: $limeGreenExercise;
      }
  
      &.social {
        background-color: $violetSocial;
      }
  
      &.self-care {
        background-color: $softOrangeSelfCare;
      }

      &>img {
        position: absolute;
        top: -5px;
        right: 15px;
      }
  }

    .inner-box {
      background: $darkBlue;
      position: relative;
      height: 80%;
      top: 2.7rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 4px;

        .activity {
          font-size: 18px;
        }
      }

      .lower {
        display: flex;
        justify-content: space-between;
        margin: 0 20px 4px;
        
        span {
          display: flex;
          align-items: center;
        }

        p {
          color: $paleBlue;
          font-size: 0.8rem;
        }
        
        .current {
          font-weight: 300;
        }
      }
    }


}

  .box:last-child {
    margin-bottom: 0;
  }

  // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1024px) {
  
  .container {
    flex-direction: row;
    height: 100vh;
  }
  .profile-container {
    width: 250px;
    height: 530px;
    margin-right: 10px;
    position: relative;
    top: 3px;

    .light-blue-section {
      flex-direction: column;
      height: 360px;

      .left-side img {
        margin: 0px;
        width: 85px;
        height: 85px;
        margin: 30px;
        margin-left: -80px;
      }

      .right-side {
        margin-left: 60px;

        p {
          font-size: 15px;
        }
        h2 {
          font-size: 40px;
        }
      }
    }

    .dark-blue-section {
      flex-direction: column;
      margin-left: 35px;
      height: 150px;

      p {
        font-size: 18px;
      }
    }
  }

  .lower {
    flex-direction: column;
  }

  .boxes-container {
    width: 850px;
    .box-container {
      width: 250px;
      height: 250px;
      margin: 15px;
    }
    .inner-box {
      top: 3.2rem;
      padding-left: 10px;
      .upper {
        margin-bottom: 15px;
      }
      h1 {
        margin-bottom: 5px;
      }
    }
    
    
    .current {
      font-size: 60px;
    }
  }
  
 }